    <!-- Nav -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-primary" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">BOOTSTRAP-1</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link {% if request.path == '/' %}active{% endif %}"
                aria-current="page" href="{% url 'home' %}">Ana Sayfa</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Ürünler
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Ürün-1</a></li>
                  <li><a class="dropdown-item" href="#">Ürün-2</a></li>
                  <!-- <li><hr class="dropdown-divider"></li> -->
                  <li><a class="dropdown-item" href="#">Ürün-3</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request.path == '/hakkimizda/' %}active{% endif %}"
                href="{% url 'about_us' %}">Hakkımızda</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request.path == '/iletisim/' %}active{% endif %}" href="{% url 'contact' %}">İletişim</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Aradığını Bul" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Arama</button>
            </form>
          </div>
        </div>
    </nav>
    <!-- Nav End -->
    