{% extends "core/base.html" %}

{% block title %} | {{ page_title }}{% endblock title %}


{% block container-fluid %}
    <!-- About Us -->
    <div class="container-fluid">
        <div class="row mb-5">
            <div class="col-sm-12 p-0">
                <img src="https://picsum.photos/id/96/1200/350" alt="" class="w-100">
            </div>
            <div class="col-sm-8 offset-sm-2 my-3">
                <h1>Misyonumuz</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam atque sequi possimus fugit ex sed commodi expedita officia facere vero, debitis esse quibusdam quo soluta sapiente. Eum ad sed ea.</p>
                <p>Corrupti voluptates, illo, aut repellendus labore dolor tenetur, similique suscipit accusamus consectetur optio magnam molestiae ipsum nihil mollitia maxime architecto. Eum odit, cum quasi iusto dolores praesentium similique assumenda? Dolorem!</p>
                <p>Iusto, voluptatibus. Accusantium ducimus officiis aspernatur aut ad dolores, consequatur esse iure deserunt. Placeat, commodi dolor excepturi cum ipsam saepe est sed quibusdam assumenda deleniti nemo vero libero, eaque et?</p>
                <hr>
                <h1>Vizyonumuz</h1>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid voluptas officiis quos, ex corrupti, aut architecto porro illum dolor nulla esse ratione beatae voluptates itaque quidem debitis quibusdam error rem?</p>
                <p>Modi dolor itaque minus natus quia repudiandae, fugit nulla necessitatibus facilis beatae molestiae cum eligendi atque provident incidunt ut expedita, nostrum cupiditate et autem quaerat dolores sit porro. Ratione, maxime!</p>
                <p>Rerum, eos ad! Ullam ex quae rem modi voluptatum voluptas assumenda dolore tempora, ducimus officia repellat nemo quod. Quae quibusdam minima, ullam neque nisi similique quo sed officia debitis maxime.</p>
            </div>
        </div>
    </div>
    <!-- About Us End -->
    {% endblock container-fluid %}