{% extends "core/base.html" %}

{% block title %} | {{ page_title }}{% endblock title %}

{% block container-fluid %}
    <!-- About Us -->
    <div class="container-fluid">
        <div class="row mb-5">
            <div class="col-sm-12 p-0">
                <img src="https://picsum.photos/id/98/1200/350" alt="" class="w-100">
            </div>
            <div class="col-sm-8 offset-sm-2 md-5">
                <h1>Adresimiz</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam minus fuga dolor recusandae quam obcaecati, tempore iste ratione odit debitis doloribus neque voluptatum reiciendis, magni aperiam est nisi pariatur sed?</p>
                <hr>
                <h2>Bize Ulaşın</h2>
                <form class="row g-3">
                    <div class="col-md-12">
                      <label for="inputEmail4" class="form-label">Email</label>
                      <input type="email" class="form-control" id="inputEmail4">
                    </div>
                    
                    <div class="col-12">
                      <label for="inputAddress" class="form-label">Adres</label>
                      <input type="text" class="form-control" id="inputAddress">
                    </div>
                    
                    <div class="col-md-12">
                      <label for="inputCity" class="form-label">Şehir</label>
                      <input type="text" class="form-control" id="inputCity">
                    </div>
                    <div class="col-md-4">
                      <label for="inputState" class="form-label">Bize Nasıl Ulaştın?</label>
                      <select id="inputState" class="form-select">
                        <option selected>Seçiniz...</option>
                        <option>Google Reklamları</option>
                        <option>Linkedin</option>
                        <option>Referans</option>
                      </select>
                    </div>
                    <div class="col-12">
                      <button type="submit" class="btn btn-primary">Gönder</button>
                    </div>
                  </form>
            </div>
        </div>
    </div>
    <!-- About Us End -->
    {% endblock container-fluid %}