<div class="container">
    <!-- Products -->
    <div class="row my-3">
        <div class="col-sm-12">
            <h2>Projelerimiz</h2>
            <hr>
        </div>
        <div class="col-sm col-6 my-1"><img src="https://picsum.photos/id/21/120/80" alt="" class="w-100 img-thumbnail"></div>
        <div class="col-sm col-6 my-1"><img src="https://picsum.photos/id/22/120/80" alt="" class="w-100 img-thumbnail"></div>
        <div class="col-sm col-6 my-1"><img src="https://picsum.photos/id/23/120/80" alt="" class="w-100 img-thumbnail"></div>
        <div class="col-sm col-6 my-1"><img src="https://picsum.photos/id/24/120/80" alt="" class="w-100 img-thumbnail"></div>
        <div class="col-sm col-6 my-1"><img src="https://picsum.photos/id/25/120/80" alt="" class="w-100 img-thumbnail"></div>
        <div class="col-sm col-6 my-1"><img src="https://picsum.photos/id/26/120/80" alt="" class="w-100 img-thumbnail"></div>
        <div class="col-sm col-6 my-1"><img src="https://picsum.photos/id/27/120/80" alt="" class="w-100 img-thumbnail"></div>
        <div class="col-sm col-6 my-1"><img src="https://picsum.photos/id/28/120/80" alt="" class="w-100 img-thumbnail"></div>
    </div>
    <!-- Products End -->
</div>